
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=League+Gothic&family=Open+Sans&family=Shantell+Sans&display=swap');

/*--------------------HEADER--------------------*/

header {
    background-color: rgba(246, 203, 207, 0.95);
    height: 55px;
    position: sticky;
    top: 0;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.header-logo a img {
    height: 90px;
    margin-top: 60px;
    margin-left: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}

header nav ul {
    font-size: 25px;
}

.header-tools a img {
    height: 32px;
    margin: 5px;
}

/*--------------------RESET--------------------*/
/* Reset aplicado por propiedades de Bootstrap que generan conflictos*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Albert Sans';
    font-size: 45px;
}


h2 {
    font-family: 'Open Sans';
    font-size: 25px;
}

h3 {
    font-family: 'Open Sans';
    font-size: 18px;
}

p {
    font-family: 'League Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    font-family: 'League Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

/*--------------------MAIN--------------------*/

.main-hero {
    background-image: url(../img/hero.jpg);
    width: 100%;
    height: 650px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-hero h1 {
    font-family: 'Shantell Sans';
    font-size: 100px;
}

.main-hero-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    padding: 20px;
}

.main-hero a {
    font-family: 'League Gothic', sans-serif;
    font-size: 40px;
    color: white;
    padding: 5px;
    margin: 20px;
    border: 1px solid white;
    border-radius: 10%;
    transition: 0.5s;
}

.main-hero a:hover {
    color:#5b2b2f;
    background-color: white;
}

.main-hero-content p {
    text-decoration: underline overline;
    font-size: 25px;
}

.main-hero-content-text {
    width: 80%;
    font-size: 40px;
    text-align: center;
}

.main-section-catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 3px 3px 3px;
}

.main-section-catalog div h2 {
    color: white;
    font-size: 15px;
    margin-top: 5px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.main-section-agendas {
    width: 33.3%;
    height: 500px;
    background-image: url(../img/agenda.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.main-section-agendas:hover {
    width: 40%;
}

.main-section-productos {
    width: 33.3%;
    height: 500px;
    background-image: url(../img/productos.jpg);
    background-position: center;
    background-size: cover;
    margin: 0px 3px 0px 3px;
    transition: 0.5s;
}

.main-section-productos:hover {
    width: 40%;
}

.main-section-madre {
    width: 33.3%;
    height: 500px;
    background-image: url(../img/especial-madre.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.main-section-madre:hover {
    width: 40%;
}

.main-section-especiales {
    background-color: rgba(240, 215, 122, 20%);
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-section-especiales h3 {
    color: #572b2f;
    font-family: 'Shantell Sans';
    text-align: center;
    font-size: 55px;
}

.main-section-navidad {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section-navidad-content {
    width: 40%;
    text-align: justify;
}

.main-section-valentin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section-valentin-content {
    width: 40%;
    text-align: justify;
}

.main-section-especiales div img {
    width: 40%;
    height: 300px;
    border: 3px solid white;
    object-fit: cover;
    transition: 0.5s;
}

.main-section-especiales div img:hover {
    width: 41%;
    border: 8px solid #5b2b2f;
}

.main-section-especiales div a {
    font-family: 'Open Sans';
    font-size: 25px;
    color: black;
    background-color: white;
    padding: 3px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10%;
    transition: 0.5s;
}

.main-section-especiales div a:hover {
    color: white;
    background-color: #5b2b2f;
}

.main-section-especiales div p {
    margin: 10px;
    font-size: 35px;
    transition: 0.5s;
}

.main-section-especiales div p:hover {
    color: #5b2b2f;
}

/*--------------------PRODUCTOS--------------------*/

.productos-main {
    background-image: url(../img/hero.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.productos-main h1 {
    font-size: 60px;
}

.productos-main p {
    font-size: 20px;
}

.productos-catalogo-grid {
    width: 100%;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 1fr;
    gap: 12px;
}

.grid-item {
    position: relative;
}

.productos-catalogo-titulo {
    text-align: center;
}

.productos-catalogo-titulo h2 {
    font-size: 40px;
}

.productos-catalogo-titulo p {
    font-size: 20px;
}

.productos-catalogo-grid h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 20px;
    text-align: center;
    transition: 0.5s;
}

.productos-catalogo-grid h3:hover {
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    font-size: 22px;
}

.productos-catalogo-grid div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 10px 0px rgba(69,67,45,0.5);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(69,67,45,0.5);
    -moz-box-shadow: 5px 5px 10px 0px rgba(69,67,45,0.5);
}

.img-span {
    grid-column: span 2;
    grid-row: span 2;
}

/* Para la galería de productos utilizar flex-wrap: wrap; la función distribuye la galeria manteniendo los productos dentro de la pantalla*/

/*--------------------FOOTER--------------------*/

footer section {
    height: 120px;
    display: flex;
    align-items: center;
}

.footer-section-contacto {
    justify-content: space-around;
    margin: 0;
}

.footer-section-contacto h3 {
    text-align: center;
}

.footer-section-siguenos a img {
    height: 32px;
}

.footer-section-tools {
    display: block;
    height: 40px;    
    background-color: rgba(128, 128, 128, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section-terminos ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-logo {
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.fixed-logo a img {
    height: 50px;
}

/*!--------------------MEDIA QUERY--------------------*/

@media screen and (max-width:1300px) {

    .main-hero-content-text {
        font-size: 35px;
    }

    .main-section-especiales div a {
        font-size: 20px;
    }
    
    .main-section-especiales div p {
        font-size: 30px;
    }
}


@media screen and (max-width:1000px) {

    header {
        height: 200px;
        flex-direction: column;
        position: static;
    }

    .header-logo a img {
        margin-top: 5px;
        margin-left: 0px;
    }

    .main-hero-content-text {
        font-size: 30px;
    }

    .main-section-catalog {
        flex-direction: column;
        width: 100%;
    }

    .main-section-catalog div h2 {
        font-size: 30px;
        text-align: center;
    }

    .main-section-agendas {
        width: 100%;
        height: 600px;
    }
    
    .main-section-productos {
        width: 100%;
        height: 600px;
    }

    .main-section-madre {
        width: 100%;
        height: 600px;
    }

    .main-section-especiales div a {
        font-size: 18px;
    }
    
    .main-section-especiales div p {
        font-size: 26px;
    }

    footer section {
        height: fit-content;
        flex-direction: column;
        margin: 10px;
    }

/*--------------------NONE--------------------*/

    .main-hero-content p {
        display: none;
    }

    .main-hero-content {
        justify-content: space-evenly;
    }

    footer section div ul {
        display: none;
    }

/*--------------------PRODUCTOS--------------------*/

    .productos-catalogo-grid {
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 1fr;
        gap: 12px;
    }

    .grid-item {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width:750px) {

    .productos-catalogo-grid {
        grid-template-columns:repeat(2,1fr);
    }
}

@media screen and (max-width:500px) {

    .productos-catalogo-grid {
        grid-template-columns: 1fr;
    }
}